<h1><%= @product.name %></h1>


<h2>Description:</h2>

<p><%= @product.description %></p>
<p>Price: $<%= @product.price %></p>
<%= button_to "Add to cart", order_lines_path, {params: {product_id: @product.id}} %>

<%= link_to('back', products_path) %>